.add-todo {
    margin-bottom: 30px; /* Add vertical space */
}

.input-button-wrapper {
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    text-align: center;
    vertical-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 0.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
    margin-left: 20px;
}
