.todo-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-row input[type="checkbox"] {
    margin-right: 10px;
}

.comments-link {
    margin-left: auto;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.button {
    font-size: 15px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

